/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    color: rgb(255, 255, 255);
}

details
{
    color: rgb(255, 255, 255);
}

summary
{
    color: rgb(255, 255, 255);
}

summary:hover
{
    color: rgb(0, 255, 255);
}

details > summary
{
    list-style: none; /* remove default triangle */
    cursor: pointer;
}

details > summary::before
{
    content: '▶️ '; /* closed icon */
}

details[open] > summary::before
{
    content: '🔽 '; /* open icon */
    /*background-color: rgb(140,140,140);*/
}

.day
{
    border: solid 1px rgb(100, 100, 100);
    padding: 4px;
    /*transition: border-color 0.2s;*/
    cursor: pointer;
}

.day:hover
{
    border-color: aqua;
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

