/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    font-family: Arial;
    color: rgb(255, 255, 255);
}

details
{
    color: rgb(255, 255, 255);
}

summary
{
    color: rgb(255, 255, 255);
}

summary:hover
{
    color: rgb(0, 255, 255);
}

details > summary
{
    list-style: none; /* remove default triangle */
    cursor: pointer;
}

details > summary::before
{
    content: '▶️ '; /* closed icon */
}

details[open] > summary::before
{
    content: '🔽 '; /* open icon */
    /*background-color: rgb(140,140,140);*/
}

.day
{
    border: solid 1px rgb(100, 100, 100);
    padding: 4px;
    /*transition: border-color 0.2s;*/
    cursor: pointer;
}

.day:hover
{
    border-color: aqua;
}

/* make the scrollbar thinner */
::-webkit-scrollbar {
  width: 8px; /* Adjust the thickness here */
}

/* Style the scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #2c3e50; /* Darker background for contrast */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Bright blue */
  border-radius: 4px; /* Rounded corners for a nice look */
  border: 2px solid transparent; /* adds some space around thumb */
}

/* hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Slightly darker on hover */
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

